#mainImage{
  width: 250px;
  height: 250px;
  top-padding: 30px;
}
#main{
text-align: center;
  background-color: #a4d9f5;
  
}
#mainName{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
